/* Related projects Component :used on Service Page*/

.related_projects {
  margin: 20px 0px 80px;
}

.related_project_title {
  font-size: 24px;
}

.project_card {
  margin: 40px auto;
  width: 285px;
  height: 350px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  border: 2px solid rgb(255, 255, 255);
  transition: 0.5s ease-in-out;
}

.card_img_wrapper {
  width: 285px;
  height: 350px;
  border-radius: 30px;
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.card_content_wrapper {
  width: 90%;
}
.card_content {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  backdrop-filter: blur(3px);
  transition: 0.3s ease-in-out;
}

.project_card:hover .card_content {
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 1;
  /* transition: 0.3s ease-in-out; */
  z-index: 1;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.card_info {
  font-size: 14px;
  color: #eeeeee;
  letter-spacing: 1.2px;
  margin: 10px 0 10px;
  /* background-color: #2f1a8d; */
  width: 100%;
}

.card_cta {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(90.21deg, #8a1b5d -5.91%, #2f1a8d 111.58%);
  transition: all ease-in-out 0.3s;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  margin-top: auto;
}

.card_cta {
  background-color: #4b0164;
  color: #f0f0f0;
}

/*=================== Project-Card ============ */
.card {
  width: 195px;
  height: 285px;
  background: #313131;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
}

.img {
  height: 30%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
  animation: anim 3s infinite;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 12px;
  color: lightgrey;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
}
