.model {
  color: #252525;
  padding: 100px 0;
  width: 98%;
  margin: auto;
}
.copy_button {
  background: linear-gradient(90deg, rgba(170, 54, 124), rgba(37, 14, 138));
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}
.copy_button:hover {
  background: linear-gradient(90deg, rgba(133, 25, 90), rgba(32, 14, 112));
}
.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_body form {
  display: flex;
  flex-direction: column;
}
.inputs_wrapper{
  width: 80%;
  margin: 10px auto;
}
.form_body form input {
  width: 100%;
  margin: 10px auto;
  padding: 6px;
  border: 1px solid white;
  border-radius: 5px;
  outline: 1px solid rgba(32, 14, 112);
  outline-offset: 1px;
  transition: all ease 0.2s;
}
.form_body form input:active,
.form_body form input:focus {
  outline: 2px solid rgba(32, 14, 112);
  outline-offset: 2px;
}
.generate_button_wrapper{
  width: 40%;
  margin-left: auto;
}
.generate_button {
  width: 80%;
  margin-left: auto;
  margin-top: 15px;
  white-space: nowrap;
  transition: all ease-in-out .3s;
}
.generate_button:hover{
  transform: scale(1.1);
}
.generate_button span{
  padding-left: 10px;
}
.error {
  color: red;
}
/* ----------------------- */

.sparkle svg {
  margin-right: 10px;
  animation: rotationBack 1s ease-in-out infinite reverse;
}


@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

