/* ServicesMenu.module.css */

/* --------- Navbar dropdown --------- */

.dropdownMenu {
  background-color: #121212;
  padding: 10px 10px !important;
  margin: -10px 0 !important;
  border-bottom: 3px solid white;
  border-radius: 5px;
}
.nav_link {
  white-space: nowrap;
  text-decoration: none;
  text-align: start;
  padding: 7px 10px;
  color: rgb(190, 190, 190);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.nav_link:hover {
  color: #fff;
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
}

/* .dropdownOpen {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.dropdownClosed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
} */

/*-------------- Services Page ---------------  */
/* some styling is global */
