/* ServicesMenu.module.css */

/* --------- Navbar dropdown --------- */

.dropdownMenu {
  background-color: #121212;
  padding: 10px 10px !important;
  margin: -10px 0 !important;
  border-bottom: 3px solid white;
  border-radius: 5px;
}
.nav_link {
  white-space: nowrap;
  text-decoration: none;
  text-align: start;
  padding: 7px 10px;
  color: rgb(190, 190, 190);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.nav_link:hover {
  color: #fff;
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
}

/* ------ Our Services -----*/

/* .service_section {
  padding: 30px 0 50px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(170, 54, 124, 0.5),
    rgba(74, 47, 189, 0.5)
  );
} */
